# Application
APP_NAME="Kanbanchik"
DEBUG=false/true
SECRET_KEY=your-super-secret-key-change-in-production
API_V1_PREFIX=/api/v1

# PostgreSQL
DATABASE_URL=

# Redis
REDIS_URL=

# JWT
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=